
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<h1>Editar Configuracion</h1>
<f:section name="main">

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Configuracion}" />

<f:form action="update" name="configuracion" object="{configuracion}" >
<f:render partial="Configuracion/FormFields" arguments="{_all}"  />
	<f:form.submit value="Guardar" class="btn btn-primary pull-right" />
</f:form>
</f:section>