<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Carpeta</th>
        </tr>
    </thead>
    <tbody>
        <f:for each="{carpetas}" as="carpeta">
            <tr>
                <td>{carpeta.id}</td>
                <td>{carpeta.nombre}</td>
            </tr>
        </f:for>
    </tbody>
</table>