<h3>{respuesta_servicio}</h3>

<!--
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Carpeta</th>
    </tr>
    </thead>
    <tbody>
    <f:for each="{carpetas}" as="carpeta" iteration="indice">
        <tr>
            <td>{indice.cycle}</td>
            <td>{carpeta.id}</td>
            <td>{carpeta.nombre}</td>
        </tr>
    </f:for>
    </tbody>
</table>-->