
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:link.action action="new">New Configuracion</f:link.action>
<h1>Single View for Configuracion</h1>
<f:section name="main">
<p>
<f:link.action class="btn btn-primary" action="list">Volver</f:link.action><br />
</p>

<f:flashMessages />
<p>
<f:render partial="Configuracion/Properties" arguments="{configuracion:configuracion}" />
</p>
</f:section>
