<f:if condition="{configuration.insertAbove}">
    <f:render section="paginator" arguments="{pagination: pagination}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
    <f:render section="paginator" arguments="{pagination: pagination}" />
</f:if>

<f:section name="paginator">
    <ul class="f3-widget-paginator pagination pull-right">
        <f:if condition="{pagination.previousPage}">
            <li class="previous">
                <f:if condition="{pagination.previousPage} > 1">
                    <f:then>
                        <f:widget.link arguments="{currentPage: pagination.previousPage}">&larr; Anterior</f:widget.link>
                    </f:then>
                    <f:else>
                        <f:widget.link>&larr; Anterior</f:widget.link>
                    </f:else>
                </f:if>
            </li>
        </f:if>
        <f:if condition="{pagination.displayRangeStart} > 1">
            <li class="first">
                <f:widget.link>1</f:widget.link>
            </li>
        </f:if>
        <!-- <f:if condition="{pagination.hasLessPages}">
             <li>...</li>
         </f:if>-->
        <f:for each="{pagination.pages}" as="page">
            <f:if condition="{page.isCurrent}">
                <f:then>
                    <li class="current active">
                        <f:widget.link>{page.number}</f:widget.link>
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:if condition="{page.number} > 1">
                            <f:then>
                                <f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
                            </f:then>
                            <f:else>
                                <f:widget.link>{page.number}</f:widget.link>
                            </f:else>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <!--<f:if condition="{pagination.hasMorePages}">
            <li>...</li>
        </f:if>-->
        <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
            <li class="last">
                <f:widget.link arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</f:widget.link>
            </li>
        </f:if>
        <f:if condition="{pagination.nextPage}">
            <li class="next">
                <f:widget.link arguments="{currentPage: pagination.nextPage}">Siguiente &rarr;</f:widget.link>
            </li>
        </f:if>
    </ul>
</f:section>
