
<div class="form-group">
    <label for="urlServicio">
    	<f:translate key="tx_googledrive_domain_model_configuracion.url_servicio" />
    </label>
    <f:form.textfield property="urlServicio"  class="form-control" />
  </div>
<div class="form-group">
    <label for="ubicacionArchivo">
    	<f:translate key="tx_googledrive_domain_model_configuracion.ubicacion_archivo" />
    </label>
    <f:form.textfield property="ubicacionArchivo"  class="form-control" />
  </div>
<div class="form-group">
    <label for="idCarpeta">
    	<f:translate key="tx_googledrive_domain_model_configuracion.id_carpeta" />
    </label>
    <f:form.textfield property="idCarpeta"  class="form-control" />
  </div>
<div class="form-group">
    <label for="idCliente">
    	<f:translate key="tx_googledrive_domain_model_configuracion.id_cliente" />
    </label>
    <f:form.textfield property="idCliente"  class="form-control" />
  </div>
<div class="form-group">
    <label for="claveSecreta">
    	<f:translate key="tx_googledrive_domain_model_configuracion.clave_secreta" />
    </label>
    <f:form.textfield property="claveSecreta"  class="form-control" />
  </div>
<div class="form-group">
    <label for="urlRedireccion">
    	<f:translate key="tx_googledrive_domain_model_configuracion.url_redireccion" />
    </label>
    <f:form.textfield property="urlRedireccion"  class="form-control" />
  </div>