
<table class="table table-striped">
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.url_servicio" />
		</th>
		<td>
		{configuracion.urlServicio}
		</td>
	</tr>
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.ubicacion_archivo" />
		</th>
		<td>
		{configuracion.ubicacionArchivo}
		</td>
	</tr>
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.id_carpeta" />
		</th>
		<td>
		{configuracion.idCarpeta}
		</td>
	</tr>
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.id_cliente" />
		</th>
		<td>
		{configuracion.idCliente}
		</td>
	</tr>
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.clave_secreta" />
		</th>
		<td>
		{configuracion.claveSecreta}
		</td>
	</tr>
	<tr>
		<th>
			<f:translate key="tx_googledrive_domain_model_configuracion.url_redireccion" />
		</th>
		<td>
		{configuracion.urlRedireccion}
		</td>
	</tr>
</table>